
.drawer {
    height: 400px;
    background: black;
    position: absolute;;
    z-index: 5;
    top: 0px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    -webkit-transform: translateY(-100%);
    /* cursor: pointer; */
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-overflow-scrolling: auto !important;
}

.drawer.open {
    transform: translateY(70px);
    -webkit-transform: translateY(70px)
}

.drawer > a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* margin: 20px 0; */
}
