.hero {
    width: 100%;
    background: #f5f5f5;
}

.hero-section1 {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section1-image {
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.hero-section1-image > img {
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.hero-section1-info {
    /* background: pink; */
    height: 70%;
    width: 45%;
    display: flex;
    align-items: center;
}
.hero-section1-info > h1 {
    font-size: calc(60px + (100 - 60) * ((100vw - 1000px) / (2000 - 1000)));
    text-transform: uppercase;
    padding-left: 50px;
}



.hero-section2 {
    /* background: blue; */
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section2-info {
    /* background: red; */
    height: 65%;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-section2-info > h1 {
    margin: 0;
    font-size: calc(60px + (100 - 60) * ((100vw - 1000px) / (2000 - 1000)));
    text-transform: uppercase;
}
.hero-section2-info > h2 {
    margin: 20px 0;
    font-size: calc(30px + (50 - 30) * ((100vw - 1000px) / (2000 - 1000)));
    font-weight: 500;
    width: 80%;
    text-transform: capitalize;
    font-style: italic;
}
.hero-section2-image {
    height:65%;
    width: 40%;
    display: flex;
    align-items: center;
}
.hero-section2-image > img {
    width: 100%;
}

.hero-section3 {
    /* background: green; */
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section3-image {
    /* background: orange; */
    height: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-section3-image > img {
    /* width: 50vw; */
    height: 100%;
}

.hero-section3-info {
    /* background: blue; */
    height: 40%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section3-info > h1 {
    margin: 0;
    font-size: calc(100px + (200 - 100) * ((100vw - 1000px) / (2000 - 1000)));
    text-transform: uppercase;
}
.hero-section3-info > h2 {
    margin: 0;
    font-size: calc(30px + (50 - 30) * ((100vw - 1000px) / (2000 - 1000)));
    font-weight: 500;
    width: 90%;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
}


@media screen and (max-width: 600px){
    .hero-section1 {
        /* background: blue; */
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .hero-section1-image {
        height: 50%;
        width: 95%;
    }
    .hero-section1-image > img {
        width: 100%;
        object-fit: cover;
    }
    .hero-section1-info {
        height: 30%;
        width: 95%;
        /* background: red; */
    }
    .hero-section1-info > h1 {
        padding: 0;
        text-align: center;
        font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (600 - 300)));
    }

    .hero-section2 {
        /* background: red; */
        margin: 80px 0;
        flex-direction: column;
    }
    .hero-section2-info {
        width: 95%;
        height: 30%;
        /* background: orange; */
        align-items: center;
    }
    .hero-section2-info > h1 {
        text-align: center;
        font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (600 - 300)));
    }
    .hero-section2-info > h2 {
        text-align: center;
        margin: 10px 0;
        z-index: 1;
        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (600 - 300)));
    }

    .hero-section2-image {
        height: 50%;
        width: 95%;
    }

    .hero-section2-image > img {
        width: 100%;
    }

    .hero-section3 {
        height: 700px
    }

    .hero-section3-info {
        height: 50%;
        width: 95%;
    }

    .hero-section3-info > h1 {
        text-align: center;
        font-size: calc(60px + (100 - 60) * ((100vw - 300px) / (600 - 300)));
    }

    .hero-section3-info > h2 {
        text-align: center;
        margin: 10px 0;
        font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (600 - 300)));
    }

    .hero-section3-image {
        height: 25%;
    }
}



@media screen and (max-width: 1000px) and (min-width: 601px){
    .hero-section1 {
        flex-direction: column-reverse;
    }
    .hero-section1-info {
        width: 90%;
        height: 30%;
    }
    .hero-section1-info > h1 {
        padding: 0;
        text-align: center;
        font-size: calc(55px + (60 - 55) * ((100vw - 601px) / (900 - 601)));
    }
    .hero-section1-image {
        height: 60%;
        width: 70%;
        justify-content: center;
    }

    .hero-section1-image > img {
        width: 500px;
    }

    .hero-section2 {
        flex-direction: column;
        margin: 100px 0px;
        height: 800px
    }

    .hero-section2-info {
        width: 80%;
        height: 25%;
        align-items: center;
        text-align: center;
    }

    .hero-section2-info > h1 {
        margin: 0;
        font-size: calc(55px + (60 - 55) * ((100vw - 601px) / (900 - 601)));
    }
    .hero-section2-info > h2 {
        margin: 10px 0;
        font-size: calc(25px + (35 - 25) * ((100vw - 601px) / (900 - 601)));
    }

    .hero-section2-image {
        width: 70%;
        height: 50%;
        display: flex;
        justify-content: center;
        object-fit: cover;;
        margin-top: 50px;

    }
    .hero-section2-image > img {
        width: 500px;
    }

    .hero-section3-image {
        height:  20%;
    }

    .hero-section3-info > h1 {
        font-size: calc(70px + (100 - 70) * ((100vw - 601px) / (900 - 601)));
    }
}

@media screen and (max-width: 1250px) and (min-width: 1001px){
    .hero-section1 {
        height: 700px;
    }
    .hero-section1-info {
        width: 40%;
        justify-content: center;
    }

    .hero-section1-image {
        width: 45%;
        justify-content: center;
        height: 80%;
    }
    .hero-section1-image > img {
        width: 100%;
        object-fit: cover;
    }
    .hero-section1-info > h1 {
        font-size: calc(50px + (55 - 50) * ((100vw - 901px) / (1250 - 901)));
        /* padding-left: 30px;; */

    }

    .hero-section2 {
        height: 700px;
    }
    .hero-section2-image {
        width: 40%;
    }
}


@media screen and (min-width: 1900px){
    .hero-section1, .hero-section2, .hero-section3 {
        height: 1300px;
    }
}