.hero {
    width: 100%;
    background: #1C1C1C;
}

.hero-section1 {
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section1-image {
    height: 70%;
    width: 42.5%;
    display: flex;
    justify-content: flex-end;
}

.hero-section1-image > img {
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.hero-section1-info {
    height: 70%;
    width: 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section1-info > h1 {
    font-size: calc(60px + (85 - 60) * ((100vw - 1450px) / (1800 - 1450)));
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    line-height: 1.1;
}
.hero-section1-info > h2 {
    font-size: calc(30px + (40 - 30) * ((100vw - 1450px) / (1800 - 1450)));
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    color: #C3C3C3;
    line-height: 1.1;
    font-style: italic;
}
.hero-buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.hero-buttons > button{
    height: 60%;
    width: 30%;
    cursor: pointer;
    border: none;
    margin-right: 50px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 25px;
}
.hero-buttons > button:focus {
    outline: none;
}

.hero-button-port {
    background: linear-gradient(0.25turn, #C400FF,#0089ED );
    color: white;
}
.hero-button-resu > h1{
    background: -webkit-linear-gradient(0.7turn, #C400FF,#0089ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    margin: 0;
}


@media screen and (max-width: 900px){
    .hero-section1 {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .hero-section1-image {
        height: 40%;
        width: 95%;
        background: red;
    }
    .hero-section1-image > img {
        width: 100%;
        object-fit: cover;
    }
    .hero-section1-info {
        height: 35%;
        width: 90%;
    }
    .hero-section1-info > h1 {
        padding: 0;
        text-align: center;
        font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (900 - 300)));
        margin: 5px 0;
    }
    .hero-section1-info > h2 {
        font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (900 - 300)));
        text-align: center;
        margin: 2.5px 0;
    }

    .hero-buttons {
        justify-content: space-between;
        width: 90%;
        height: 30%;

    }
    .hero-buttons > button {
        margin: 0;
        width: 45%;
        font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (900 - 300)));
    }
    .hero-button-resu > h1 {
        font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (900 - 300)));
    }
    .hero-section1-info > h2 {
        font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (900 - 300)));
    }

}



@media screen and (max-width: 700px) and (min-width: 500px){
    .hero-section1-info {
        width: 85%;
    }
}

@media screen and (max-width: 900px) and (min-width: 701px) {
    .hero-section1-info {
        width: 70%;
    }
    .hero-section1-info > h1 {
        font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (900 - 300)));
    }
}

@media screen and (max-width: 1150px) and (min-width: 901px){
    .hero-section1 {
        height: 700px;
    }
    .hero-section1-info {
        width: 45%;
        height: 60%;
        justify-content: center;
    }

    .hero-section1-image {
        width: 45%;
        justify-content: center;
        height: 80%;
    }
    .hero-section1-image > img {
        width: 100%;
        object-fit: cover;
    }
    .hero-section1-info > h1 {
        font-size: calc(44px + (50 - 44) * ((100vw - 901px) / (1150 - 901)));
        margin: 5px 0;
    }
    .hero-section1-info > h2 {
        font-size: calc(22px + (28 - 22) * ((100vw - 901px) / (1150 - 901)));
    }

    .hero-buttons > button {
        font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (900 - 300)));
    }
    .hero-button-resu > h1 {
        font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (900 - 300)));
    }
}


@media screen and (max-width: 1450px) and (min-width: 1151px){
    .hero-section1-info > h1 {
        font-size: calc(50px + (60 - 50) * ((100vw - 1151px) / (1450 - 1151)));
        margin: 5px 0;
    }
    .hero-section1-info > h2 {
        font-size: calc(25px + (35 - 25) * ((100vw - 1151px) / (1450 - 1151)));
    }
    .hero-section1 {
        height: 800px;
    }
    .hero-section1-info {
        width: 45%;
    }
}


@media screen and (min-width: 1700px){
    .hero-section1 {
        height: 950px;
    }
    .hero-section1-info > h1 {
        font-size: calc(70px + (110 - 70) * ((100vw - 1701px) / (3000 - 1701)));
        margin: 5px 0;
    }
    .hero-section1-info > h2 {
        font-size: calc(35px + (55 - 35) * ((100vw - 1701px) / (3000 - 1701)));
    }

    .hero-buttons > button ,
    .hero-button-resu > h1 {
        font-size: calc(30px + (40 - 30) * ((100vw - 1701px) / (3000 - 1701)));
    }
}

@media screen and (min-width: 2000px){
    .hero-section1 {
        height: 1100px;
    }
}

@media screen and (min-width: 2400px) {
    .hero-section1 {
        height: 1250px;
    }
}