.toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
    /* background: red; */
}

.toggle:focus {
    outline: none;
}

.toggle-button {
    width: 40px;
    height: 5px;
    background: white;
}