.navbar {
    height: 70px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 11; 
}



.nav-logo {
    /* background: blue; */
    height: 100%;
    width: 20%;
    z-index: 15;

}

.nav-logo > img {
    height: 100%;
}

.nav-links {
    height: 100%;
    width: 60%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links > a {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1800 - 300)));
}
.nav-links > a:active, .nav-links > a:focus, .nav-links > a:focus {
    color: red;
}

.togglebutton {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1001px){
    .togglebutton {
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .nav-links {
        display: none;
    }
    .togglebutton {
        width: 50%;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1900px){
    .navbar{
        height: 150px;
    }
    .nav-links > a {
        
        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1800 - 300)));
    }
}